* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(background.png);
  background-size: cover;
  font-family: "Oswald", sans-serif;
}

#header {
  display: flex;
  position: fixed;
  background-image: linear-gradient(
    to right,
    rgb(153, 19, 243),
    rgb(111, 111, 255),
    rgb(143, 143, 253),
    rgb(159, 159, 255),
    white
  );
  width: 100%;
  font-family: "Oswald", sans-serif;
  justify-content: space-between;
  align-items: center;
}

#titulo {
  font-size: 50px;
  font-weight: 250;
  background: -webkit-linear-gradient(white, white);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a {
  text-decoration: none;
  color: black;
}

#headerLi {
  list-style: none;
  display: flex;
  font-size: 25px;
}

.listaCabecalho {
  margin-right: 30px;
}

#minhaFoto {
  width: 200px;
  border-radius: 100%;
}

#nomeFoto {
  font-size: 25px;
  color: white;
}

#headerLeft {
  width: 35%;
  padding-left: 20px;
}

#headerRight {
  width: 55%;
}

#profileSection {
  padding-top: 100px;
  width: 100%;
}

#perfil {
  display: flex;
  flex-direction: column;
  width: 20%;
  align-items: center;
}

#tableDiv {
  display: flex;
  width: 100%;
}

.titleList {
  font-size: 35px;
  text-align: center;
  font-weight: 500;
}

.list {
}

li {
  list-style: none;
  font-size: 25px;
  line-height: 45px;
}

.itemList {

}

#learned {
  width: 40%;
  padding-left: 20px;
}

#toLearned {
  width: 40%;
}

#historia {
  padding: 20px 20px 10px 20px;
  font-size: 24px;
  letter-spacing: 1px;
}

#outraHistoria {
  padding: 10px 20px 10px 20px;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 400;
  text-align: center;
}

#linkperfil {
  font-size: 20px;
  font-weight: 600;
}

#rodape {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  flex-direction: column;
}

#logolinkedin {
  width: 150px;
}
